<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Título da Página</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">Indústrias Wayne</a>

        <div class="navbar-nav ml-auto">

            <li class="nav-item d-none d-lg-block">
                <a class="nav-link" href="#section-equipamentos">Equipamentos</a>
            </li>

            <li class="nav-item dropdown d-lg-none"> <!-- Ícone de pesquisa aparece apenas em telas menores -->
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-sharp fa-solid fa-list"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="searchDropdown">
                    <a class="dropdown-item" href="#section-equipamento1">Equipamento 1</a>
                </div>
            </li> 

        </div>
        
    </nav>
</header>
