
<header>
    <h1 class="text-center my-4">Bem-vindo às Indústrias Wayne</h1>
</header>

<div class="container">
    <p class="text-center">Explore nossos sistemas de segurança e gestão.</p>
    <p class='text-center'>Entre e Adicione Equipamentos</p>
    <div class="text-center mt-5">
        <a href="/login" class="btn btn-primary">Entrar</a>
        <a href="/register" class="btn btn-secondary ml-3">Cadastre-se</a> <!-- Adicionada margem à esquerda -->
    </div>
</div>

<div class="container mt-lg-5">
    <h1 class="mt-4 mb-5 text-sm-center">Recursos recentemente adicionados</h1>
    <section class="row" id="section-equipamentos">
        <% if (recursos && recursos.length > 0) { %>
            <% recursos.forEach(recurso => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="/uploads/<%= recurso.imagem %>"  class="card-img-top img-fluid" style="max-height: 200px; object-fit: cover;"> <!-- Adicionando a imagem -->

                        <div class="card-body">
                            <h5 class="card-title"><%= recurso.nome %></h5>
                            <p class="card-text"><%= recurso.descricao %></p>
                            <p class="card-text"> Quantidade: <%= recurso.quantidade %></p>

                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-12 text-center">
                <p>Nenhum recurso encontrado.</p>
                
            </div>
        <% } %>
        
    </section>
</div>
 
<script src="/js/script.js"></script>

    

    
    