body{
    background-color: #eceff1;
}


/* Estilo para a caixa de mensagem */
.flash-message {
    background-color: #4CAF50; /* Verde para indicar sucesso */
    color: white;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: none; /* Inicia oculta */
    z-index: 1000;
}

.nav-link {
    margin-right: 15px; 
    margin-left: 10px;
}

.card {
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s; /* Transição suave ao passar o mouse */
}

.card:hover {
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}


